[buildout]
extends = http://dist.plone.org/release/4.3.19/versions.cfg
show-picked-versions = true
extensions =
    mr.developer

index = https://pypi.python.org/simple

parts =
    instance
    test
    code-analysis
    createcoverage
    releaser
    i18ndude
    omelette
    robot
develop = .


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    Pillow
    collective.sendinblue [test]
environment-vars =
    zope_i18n_compile_mo_files true


[code-analysis]
recipe = plone.recipe.codeanalysis[recommended]
directory = ${buildout:directory}/src/collective
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg.,omelette
flake8-max-complexity = 15
return-status-codes = True


[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
defaults = ['-s', 'collective.sendinblue', '--auto-color', '--auto-progress']


[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[ride]


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude


[versions]
# Don't use a released version of collective.sendinblue
collective.sendinblue =

backports.functools-lru-cache = 1.6.1
createcoverage = 1.5
entrypoints = 0.3
flake8 = 3.7.9
flake8-blind-except = 0.1.1
flake8-coding = 1.3.2
flake8-commas = 2.0.0
flake8-debugger = 3.2.1
flake8-deprecated = 1.3
flake8-isort = 2.8.0
flake8-pep3101 = 1.3.0
flake8-plone-api = 1.4
flake8-plone-hasattr = 0.2.post0
flake8-print = 3.1.4
flake8-quotes = 2.1.1
flake8-string-format = 0.2.3
flake8-todo = 0.7
futures = 3.3.0
isort = 4.3.21
mccabe = 0.6.1
pkginfo = 1.5.0.1
plone.recipe.codeanalysis = 3.0.1
plone.testing = 5.1.1
pycodestyle = 2.5.0
pyflakes = 2.1.1
setuptools = 42.0.2
zc.buildout = 2.13.2

# Required by:
# collective.sendinblue==1.0.4.dev0
sib-api-v3-sdk = 7.5.0

# Required by:
# plone.recipe.codeanalysis==3.0.1
check-manifest = 0.40

# Required by:
# zest.releaser==6.13.5
colorama = 0.4.3

# Required by:
# flake8==3.7.9
configparser = 4.0.2

# Required by:
# flake8==3.7.9
enum34 = 1.1.6

# Required by:
# flake8==3.7.9
functools32 = 3.2.3-2

# Required by:
# collective.sendinblue==1.0.4.dev0
plone.formwidget.recaptcha = 2.2.0

# Required by:
# flake8-isort==2.8.0
testfixtures = 6.10.3

# Required by:
# check-manifest==0.40
toml = 0.10.0

# Required by:
# flake8==3.7.9
typing = 3.7.4.1

# Required by:
# sib-api-v3-sdk==7.5.0
python-dateutil = 2.1
requests = 2.19.1
urllib3 = 1.23
